@import url('https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web:600');

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80vw;
  margin: auto;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 8em;
  margin-top: 15vh;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 50px;
}

#links {
  margin-top: 10vh;
  width: 80%;
  font-size: 2em;
  display:  flex;
  flex-direction: row;
  justify-content: space-around;
}

#projects {
  margin-top: 10vh;
  width: 50%;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  padding: 12px;
  text-align: center;
}

.links {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#resume {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 6em;
  }

  #links {
    width: 100%;
  }

  img {
    width: 40px;
  }


}
